<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="TEST_PERFORMANCE_LOGGER" class="at.ipsquare.util.TestPerformanceLogger$TestAppender">
  	<encoder>
  		<pattern>%msg%n</pattern>
  	</encoder>
  </appender>
  
  <logger name="at.ipsquare.util.PerformanceLogger">
  	<appender-ref ref="TEST_PERFORMANCE_LOGGER"/>
  </logger>

  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>